NODE_ENV=development
APP_PORT=3000

NODE_VERSION=22

POSTGRES_VERSION=17
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=chat_app
POSTGRES_USER=admin
POSTGRES_PASSWORD=becola

REDIS_VERSION=7
REDIS_HOST=redis
REDIS_PORT=6379

DATABASE_URL=postgresql://chat_user:becola@postgres:5432/chat_app?schema=public

PGADMIN_VERSION=9
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=becola
