.app-button {
  &--primary {
    --app-button-color: var(--app-color-online);
  }

  &--secondary {
    --app-button-color: var(--app-color-muted);
  }

  &--danger {
    --app-button-color: var(--app-color-danger);
  }

  // Text button
  &.mat-mdc-button {
    color: var(--app-button-color) !important;

    .mat-icon {
      color: var(--app-button-color);
    }

    &:hover {
      background-color: color-mix(
          in srgb,
          var(--app-button-color) 10%,
          transparent
      ) !important;
    }

    .mat-ripple-element {
      background-color: var(--app-button-color) !important;
      opacity: 0.12;
    }

    &:focus-visible {
      background-color: color-mix(
          in srgb,
          var(--app-button-color) 12%,
          transparent
      ) !important;
    }

    &:active {
      background-color: color-mix(
          in srgb,
          var(--app-button-color) 16%,
          transparent
      ) !important;
    }
  }

  // Outlined button
  &.mat-mdc-outlined-button {
    color: var(--app-button-color) !important;

    --mdc-outlined-button-label-text-color: var(--app-button-color);
    --mdc-outlined-button-outline-color: var(--app-button-color);

    &:hover {
      background-color: color-mix(
          in srgb,
          var(--app-button-color) 10%,
          transparent
      ) !important;
    }

    .mdc-button__label,
    .mat-icon {
      color: var(--app-button-color);
    }

    &::before {
      border-color: var(--app-button-color);
    }

    .mat-ripple-element {
      background-color: var(--app-button-color) !important;
      opacity: 0.12;
    }

    &:focus-visible {
      background-color: color-mix(
          in srgb,
          var(--app-button-color) 12%,
          transparent
      ) !important;
    }

    &:active {
      background-color: color-mix(
          in srgb,
          var(--app-button-color) 16%,
          transparent
      ) !important;
    }
  }
}
