.mat-mdc-menu-panel {
  background-color: var(--app-color-background) !important;
  border: 0.0625rem solid var(--app-color-border);
}

.mat-mdc-menu-item {
  color: var(--app-color-text) !important;

  .mat-icon {
    color: var(--app-color-muted) !important;
  }

  &:hover {
    background-color: var(--app-color-hover) !important;
  }
}
