:root {
  --app-color-border: #e5e5e5;
  --app-color-hover: #f5f5f5;
  --app-color-muted: #999;
  --app-color-offline: #a0a0a0;
  --app-color-online: #35b87f;
  --app-color-white: #fff;
  --app-color-background: #fff;
  --app-color-text: #1a1a1a;
  --app-color-scrollbar-thumb: #c5c5c5;
  --app-color-scrollbar-track: #f5f5f5;
}

[data-theme='dark'] {
  --app-color-border: #2d2d2d;
  --app-color-hover: #242424;
  --app-color-muted: #999;
  --app-color-offline: #666;
  --app-color-online: #35b87f;
  --app-color-white: #fff;
  --app-color-background: #181818;
  --app-color-text: #fff;
  --app-color-scrollbar-thumb: #555;
  --app-color-scrollbar-track: #181818;
}
